<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MusicBooth</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
   <servlet>
    <description></description>
    <display-name>CheckInCheckOut</display-name>
    <servlet-name>CheckInCheckOut</servlet-name>
    <servlet-class>customerPackage.CheckInCheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckInCheckOut</servlet-name>
    <url-pattern>/CheckInCheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booking</display-name>
    <servlet-name>Booking</servlet-name>
    <servlet-class>bookingPackage.Booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking</servlet-name>
    <url-pattern>/Booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomManagement</display-name>
    <servlet-name>RoomManagement</servlet-name>
    <servlet-class>roomPackage.RoomManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomManagement</servlet-name>
    <url-pattern>/RoomManagement</url-pattern>
  </servlet-mapping>
</web-app>
