<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MusicBooth</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>customerPackage.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booking</display-name>
    <servlet-name>Booking</servlet-name>
    <servlet-class>bookingPackage.Booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking</servlet-name>
    <url-pattern>/Booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Room</display-name>
    <servlet-name>Room</servlet-name>
    <servlet-class>roomPackage.Room</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Room</servlet-name>
    <url-pattern>/Room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>rooms are matched to booking wishes</description>
    <display-name>Matching</display-name>
    <servlet-name>Matching</servlet-name>
    <servlet-class>matchingPackage.Matching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Matching</servlet-name>
    <url-pattern>/Matching</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRoom</display-name>
    <servlet-name>GetRoom</servlet-name>
    <servlet-class>roomPackage.GetRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoom</servlet-name>
    <url-pattern>/GetRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoom</display-name>
    <servlet-name>DeleteRoom</servlet-name>
    <servlet-class>roomPackage.DeleteRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoom</servlet-name>
    <url-pattern>/DeleteRoom</url-pattern>
  </servlet-mapping>
</web-app>